<%= form_tag(accommodations_path, class: 'gw no-gutter', method: :get) do %>
    <fieldset class="g sm-one-whole md-five-twelfths">
        <label class="is-visually-hidden">Rooms</label>
        <div class="select-style">
          <%- areas_options = [['Rooms', '-', {disabled: 'disabled'}], ['Any', 'all']] + rooms %>
          <%= select_tag "room", options_for_select(areas_options, area), id: 'select-drop' %>
        </div>
    </fieldset>
    <fieldset class="g sm-one-third md-one-seventh">
      <%= text_field_tag "start_date", start_date, class: 'no-borders datepicker', placeholder: 'Arrive' %>
    </fieldset>
    <fieldset class="g sm-one-third md-one-seventh">
      <%= text_field_tag "end_date", end_date, class: 'no-borders datepicker', placeholder: 'Depart' %>
    </fieldset>
    <% if local_assigns[:home_search] %>
      <fieldset class="g sm-one-fourth md-one-eighth text-align-right">
          <label class="is-visually-hidden" for="guests">Guests</label>
          <div class="select-style">
              <select name="guests" id="guests">
                  <option disabled selected>Guests</option>
                  <option value="all">Any</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
              </select>
          </div>
      </fieldset>
    <% else %>
      <fieldset class="g sm-one-fourth md-one-eighth text-align-right">
          <label class="is-visually-hidden" for="guests">Guests</label>
          <div class="select-style">
            <%- sort_options = [['Sort by', '-', {disabled: 'disabled'}]] + sort_by %>
            <%= select_tag "sort", options_for_select(sort_options, sort) %>
          </div>
      </fieldset>
    <% end %>
    <footer class="g md-two-twelfths">
      <input class="btn btn--brown no-min-width max-width search-btn" type="submit" value="Search">
    </footer>
<% end %>

