<section class="site-header <%= content_for :header_class %>">
    <nav class="nav-bar">
        <div class="layout-container">
            <div class="brand-container">
                <a class="brand" href="/">
                    <img src="/assets/hacienda-logo.png" style="border: 0px" class="top-padding-by-3">
                </a>
            </div>
            <ul class="main-navigation">
                <li><a href="/" class="homepage hacienda-hover-color">Home</a></li>
                <li><a href="/accommodations" class="reserve-highlight hacienda-hover-color">Reserve</a></li>
                <li><a href="/resources" class="resources-highlight hacienda-hover-color">Resources</a></li>
                <li><a href="/contact" class="contact-highlight hacienda-hover-color">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero <%= content_for :hero_class %>">
        <div class="layout-container layout-centered padded-top padded-bottom">
            <h1 class="<%= content_for :bottom_border %> heading-large margin-top-by-5"><%= yield(:hero_title) %></h1>
            <% if content_for?(:lede) %><p class="lede"><%= yield :lede %></p><% end %>
        </div>
    </div>
</section>
<style>
  .hacienda-hover-color:hover {
    color: #d0aa69 !important
  }
</style>
